@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Kumbh Sans", sans-serif;
    position: relative;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu-bar{
    cursor: pointer;
    display: none;
}

.menu-bar .bar{
    display: block;
    width: 2.4rem;
    height: 0.3rem;
    border-radius: 0.3rem;
    background: #8a8484;
    margin: 0.3rem auto;
    transition: all 0.3s;
}

.menu-bar .bar:nth-child(1),
.menu-bar .bar:nth-child(3){
    background: #8a8484;
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 15rem;
    border-bottom: 1px solid #ccc ;
}

.cabecalho-inicio{
    display: flex;
    gap: 8rem;
    height: 100%;
    align-items: center;
}

.nav-menu{
    height: 100%;
}

.icone-carrinho{
    cursor: pointer;
    z-index: 3;
}

.img-produto-carrinho{
    width: 4.5rem;
    border-radius: 5px;
}

.container-carrinho{
    display: none;
    position: absolute;
    right: 7%;
    top: 12%;
    width: 35rem;
    height: 20rem;
    background: white;
    border-radius: 1rem;
    filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.2));
}

.container-carrinho2{
    display: block;
}

.carrinho{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
    font-size: 1.3rem;
    
}

.carrinho-atualizado{
    align-items: center;
    gap: 1.5rem;
    height: 40%;
}

.carrinho-atualizado p{
    font-size: 1.4rem;
    color: #8a8484;
}

.titulo-carrinho{
    padding: 1.5rem;
    font-size: 1.8rem;
    border-bottom: 1px solid #ccc;
}

.menu{
    display: flex;
    gap: 6rem;
    height: 95%;
    list-style: none;
    margin-top: 5px;
    font-size: 1.8rem;
    cursor: pointer;
    color: #8a8484;
}

.menu li{
    display: flex;
    align-items: center;
    height: 98%;
}

.menu li:hover{
    color: black;
    transition-duration: 0.2s;
    border-bottom: 0.5rem solid hsl(26, 100%, 55%);
}

.cabecalho-final{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.qtd-carrinho{
    display: flex;
    position: relative;
    align-items: center;
    width: 30px;
    height: 30px;
}

.valor-qtd-carrinho{
    position: absolute;
    top: 0%;
    right: 10%;
    font-weight: 700;
    background: #ff7d1b;
    padding: 0 6px;
    color: white;
    border-radius: 10px;
    z-index: 3;
}

.img-avatar{
    width: 90%;
    cursor: pointer;
}

.borda-avatar{
    border-radius: 100%;
    overflow: hidden;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.borda-avatar:hover{
    background: #ff7d1b;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 12rem;
}

#img-principal{
    width: 25vw;
    border-radius: 1.3rem;
    cursor: pointer;
}

.container-imagens{
    display: flex;
    flex-direction: column;
}

.img-miniatura{
    display: flex;
    justify-content: space-between;
}
    
.div-imgsMiniatura{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    border-radius: 1.3rem;
    margin-top: 3rem;
    cursor: pointer;
    /* height: 10rem; */
}

.imgs{
    width: 100%;
    height: 100%;
    border-radius: 1.3rem;
}

.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: none;
}

.btnClose{
    width: 2rem;
    position: absolute;
    right: 1.5rem;
    top: -5rem;
    cursor: pointer;
}
    
.background-modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 0.7;
    /* z-index: 8; */
}

.container-imagens-modal{
    display: flex;
    flex-direction: column;
    /* z-index: 9; */
    position: relative;
}
        
.modal .container-imagens{
    max-width: 70rem;
    /* z-index: 9; */
    position: relative;
}

.produto-modal div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-principal-modal{
    width: 95%;
    height: 100%;
    border-radius: 1.3rem;
    cursor: pointer;
}

.btn-avancar, .btn-voltar{
    background: #fff;
    padding: 2rem;
    margin: -2.5rem;
    border-radius: 50%;
    z-index: 9;
}

.img-miniatura-modal{
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    /* z-index: 10; */
}

.img-miniatura-modal img{
    width: 100%;
    height: 100%;
    border-radius: 1.3rem;
    cursor: pointer;
}

.div-imgsMiniatura-modal{
    border-radius: 1.6rem;
    margin-top: 3rem;
    width: 9rem;
    background: white;
}

.produto-modal{
    width: 55rem;
    /* height: 55rem; */
}

/* .container-text{
    width: 45rem;
} */

.container-info{
    width: 35vw;
    /* margin-top: 6rem; */
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
}

.container-info section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container-text p:first-child{
    font-size: 1.8rem;
    font-weight: 700;
    color: #8a8484;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.info-produto{
    font-size: 1.8rem;
}

.container-text h1{
    font-size: 4rem;
}

.valor-produto{
    font-weight: 800;
    font-size: 3rem;
}

.valor-produto span{
    color: #fff;
    font-weight: 600;
    margin-left: 1rem;
    background: #000;
    border-radius: 0.5rem;
    padding: 0px 1rem;
    font-size: 2rem;
}

.val-promo{
    margin-top: -1.2rem;
    font-size: 2rem;
    margin-bottom: 20px;
    text-decoration: line-through;
}

.container-qtd{
    display: flex;
    gap: 2rem;
}

.container-qtd div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17rem;
    padding: 2rem 0rem;
    gap: 4.3rem;
    background: #f1f0f0;
    border-radius: 1rem;
}

.quantidade{
    text-align: center;
    border: none;
    width: 20px;
    font-size: 18px;
    font-weight: 700;
    background: #f1f0f0;
}

.mais{
    width: 1.7rem;
    cursor: pointer;
}

.menos{
    cursor: pointer;
    width: 1.7rem;
    height: 0.5rem;
}

.btn-add{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0rem 2rem;
    font-size: 1.7rem;
    border-radius: 1rem;
    border: none;
    background: #ff7d1b;
    cursor: pointer;
    font-weight: 600;
}

/* Desktop */
@media(max-width: 1500px){
    main{
        /* gap: 8rem; */
        height: 84vh;
        overflow: hidden;
    }
    .img-miniatura{
        gap: 1.5rem;
    }
    .container-carrinho{
        right: 5%;
        top: 9%;
    }
    .container-qtd div {
        width: 15rem;
        padding: 1.3rem 0rem;
        gap: 3.3rem;
    }
    .mais{
        width: 1rem;
    }
    .menos{
        width: 1rem;
        height: 0.4rem;
    }
    .btn-add{
        font-size: 1.5rem;
    }
    .btn-add img{
        width: 1.5rem;
    }
    .menu{
        font-size: 15px;
    }
    .cabecalho-inicio{
        gap: 3rem;
    }
    .cabecalho-final{
        gap: 2rem;
    }
    .cabecalho{
        height: 10rem;
    }
    .container-text h1{
        font-size: 3rem;
    }
    .container-text p:first-child {
        font-size: 1.5rem;
    }
    .info-produto {
        font-size: 1.5rem;
    }
    .valor-produto {
        font-size: 2rem;
    }
    .valor-produto span {
        font-size: 1.5rem;
    }
    .val-promo {
        font-size: 1.5rem;
    }

}

@media(max-width: 1136px){
    main{
        /* gap: 12rem; */
        height: 89vh;
        overflow: hidden;
    }
    #img-principal{
        width: 30vw;
    }
    .div-imgsMiniatura {
        width: 6vw;
    }
}

@media(max-width: 1087px){
    main{
        gap: 7rem;
        height: 89vh;
        overflow: hidden;
    }
    #img-principal{
        width: 35vw;
    }
    .div-imgsMiniatura {
        width: 7vw;
    }

    .menu{
        position: absolute;
        left: -100%;
        top: 0;
        margin-top: 100px;
        height: 100%;
        width: 25%;
        flex-direction: column;
        background: white;
        color: #000;
        font-weight: 600;
        transition: 0.3s;
        gap: 1rem;
        font-size: 15px;
    }
    .menu li{
        margin-left: 2rem;
        height: 5%;
    }

    .menu.ativo{
        left: 0;
    }

    .menu-bar{
        display: block;
        position: relative;
    }

    .menu-bar.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg); 
    }
    .menu-bar.ativo .bar:nth-child(2){
        opacity: 0;
    }
    .menu-bar.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media(max-width: 865px){
    main{
        flex-direction: column;
    }
    .container-carrinho{
        right: 2%;
        top: 8%;
    }
    .container-qtd div {
        width: 15rem;
        padding: 1.3rem 0rem;
        gap: 2.0rem;
    }
    .quantidade{
        font-size: 1.5rem;
    }
    .mais{
        width: 1rem;
    }
    .menos{
        width: 1rem;
        height: 0.4rem;
    }
    .btn-add{
        font-size: 1.5rem;
    }
    .btn-add img{
        width: 1.5rem;
    }

}

/* Mobile */
@media(max-width: 590px){
    main{
        gap: 2rem;
        height: 100vh;
        justify-content: initial;
    }
    .container-carrinho {
        width: 90%;
        right: 25px;
        top: 10%;
    }
    .container-info{
        width: 90%;
        padding: 10px 20px;
    }
    #img-principal{
        width: 100%;
        border-radius: 0;
    }
    .img-miniatura{
        display: none;
    }
    .val-promo {
        margin-bottom: -10px;
    }
    .container-qtd {
        flex-direction: column;
    }
    .btn-add{
        justify-content: center;
        padding: 1.3rem 0rem;
        width: 100%;
    }
    .container-qtd div{
        width: 100%;
        gap: 15rem;
    }
}

/* @media(max-width: 1157px){
    main{
        margin-top: 4rem;
        gap: 8rem;
    }
    .container-imagens{
        width: 35rem;
    }
    .imgs{
        height: 85%;
    }
    .container-info{
        width: 45rem;
    }
    .container-text h1{
        font-size: 3rem;
    }
    .container-text p:first-child {
        font-size: 1.3rem;
    }
    .info-produto {
        font-size: 1.4rem;
    }
    .div-imgsMiniatura {
        margin-top: 2rem;
    }
    .img-miniatura{
        gap: 1.5rem;
    }
    .container-carrinho{
        right: 3%;
        top: 18%;
    }
    .container-info{
        margin-top: 0.5rem;
    }
} */




/* MOBILE */
    /* .menu{
        position: absolute;
        left: -100%;
        top: 0;
        margin-top: 100px;
        height: 100%;
        width: 25%;
        flex-direction: column;
        background: white;
        color: #000;
        font-weight: 600;
        transition: 0.3s;
        gap: 1rem;
        font-size: 15px;
    }
    .menu li{
        margin-left: 2rem;
        height: 5%;
    }

    .menu.ativo{
        left: 0;
    }

    .menu-bar{
        display: block;
        position: relative;
    }

    .menu-bar.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg); 
    }
    .menu-bar.ativo .bar:nth-child(2){
        opacity: 0;
    }
    .menu-bar.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    } */